*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#121212;
    color:white;
    font-family:Arial, sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:500px;
    text-align:center;
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:10px;
    font-size:16px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
    font-size:16px;
}

#players{
    margin-top:15px;
}

.player{
    background:#222;
    padding:10px;
    border-radius:10px;
    margin:5px 0;
}

.host{
    border:2px solid gold;
}

#gameArea{
    margin-top:30px;
    padding:20px;
    background:#1c1c1c;
    border-radius:12px;
}

.word{
    font-size:40px;
    margin-top:15px;
}

.impostor{
    color:#ff4d4d;
    font-size:32px;
}
